<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to Do-er!</h1>
    <h2>It is lovely to see you here <%= name %> on this wonderful <%= day %></h2>
</body>
</html>