<%- include('./includes/header.ejs') %>
<body>
    <%- include('./includes/navbar.ejs') %>
    <div id="homepage-section-1">
        <h2>Section 1</h2>
    </div>
    <div id="homepage-section-2">
        <h2>Section 2</h2>
    </div>
    <div id="homepage-section-3">
        <h2>Section 3</h2>
    </div>
    <div id="homepage-section-4">
        <h2>Section 4</h2>
    </div>
    <div id="homepage-section-5">
        <h2>Section 5</h2>
    </div>
    <div id="homepage-section-6">
        <h2>Section 6</h2>
    </div>
</body>
<%- include('./includes/footer.ejs') %>