<header class="header">
    <nav class="nav container">
        <div class="nav__data">
            <a href="#" class="nav__logo">
                <i class="ri-pushpin-line"></i> Do-er
            </a>
            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-menu-line nav__burger"></i>
                <i class="ri-close-line nav__close"></i>
            </div>
        </div>
        <!--================= NAV MENU ==================-->
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li>
                    <a href="#" class="nav__link">Home</a>
                </li>

                <li>
                    <a href="#" class="nav__link">Company</a>
                </li>
                <!--================= DROPDOWN 1 ==================-->
                <li class="dropdown__item">
                    <div class="nav__link">
                       Features <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                    </div>
                    <!--================= DROPDOWN 1 ==================-->
                    <ul class="dropdown__menu">
                        <li>
                            <a href="#" class="dropdown__link">
                                <i class="ri-map-fill"></i> Event Map
                            </a>
                        </li>
                        <li>
                            <a href="#" class="dropdown__link">
                                <i class="ri-speak-fill"></i> AI Recommender
                            </a>
                        </li>
                        <!--================= DROPDOWN 1 SUBMENU ==================-->
                        <li class="dropdown__subitem">
                            <div class="dropdown__link">
                                <i class="ri-footprint-fill"></i> Add Event <i class="ri-add-line dropdown__add"></i>
                            </div>
                            <ul class="dropdown__submenu">
                                <li>
                                    <a href="#" class="dropdown__sublink">
                                        <i class="ri-restaurant-line"></i> Food
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="dropdown__sublink">
                                        <i class="ri-chat-1-fill"></i> Social
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#" class="nav__link">About</a>
                </li>

                <!--================= DROPDOWN 2 ==================-->
                <li class="dropdown__item">
                    <div class="nav__link">
                       Users <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                    </div>
                    <ul class="dropdown__menu">
                        <li>
                            <a href="#" class="dropdown__link">
                                <i class="ri-user-add-fill"></i> Register
                            </a>
                        </li>
                        <li>
                            <a href="#" class="dropdown__link">
                                <i class="ri-user-fill"></i> Sign In
                            </a>
                        </li>
                        <li>
                            <a href="#" class="dropdown__link">
                                <i class="ri-user-search-line"></i> Search
                            </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#" class="nav__link">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</header>